@model NewWebApplication.Models.CheckoutModel
@{
    ViewBag.Title = "Complete";
}

<h1>Checkout Complete</h1>
<p></p>
<h3>Payment Transaction ID:</h3> @Html.Label(Model.TransactionID)
<p></p>
<h3>Thank You!</h3>
<p></p>
<hr />
@Html.ActionLink("Continue Shopping", "Index", "Home")
